@keyframes border-glow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-border-glow {
  background-size: 200% 200%;
  animation: border-glow 3s linear infinite;
}
